svg {
  width: 100%;
  height: 600px;
  pointer-events: all;
}

#countries path {
  fill: #aaa;
  stroke: #fff;
}


#header {
  top: 7px;
  left: 685px;
  text-align: right;
  width: auto;
}

#header div {
  font-size: 12px;
}

.tip { color: #999; }

#arcs path {
  fill: none;
  stroke-opacity: .9;
  stroke: #4183C4;
}

#cities circle {
  fill: #234a70;
}
