svg {
  width: 100%;
  height: 600px;
  pointer-events: all;
}

#header{
  overflow: hidden;
}

#header-title{
  float: left;
  width: 500px;
}

#header-title-l1{
  width: 500px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #FF6600;
}

#header-title-l2{
  width: 500px;
  text-align: center;
  font-size: 20px;
  color: #808080;
}

#header-projDescription{
  width: 360px;
  float: left;
  color: #808080;
}

#projSelect{
  overflow: hidden;
}

#projSelect-label{
  margin-top: 10px;
  margin-left: 580px;
  float: left;
}

#projSelect-dropdown{
  margin-top: 8px;
  margin-left: 10px;
  float: left;
}

#floatingContent{

}

#footer-logo{
  float: left;
}

#footer-text{
  width: 360px;
  margin-left: 130px;
  color: #808080;
}

#countries path {
  fill: #aaa;
  stroke: #fff;
}

.tip { color: #999; }

#arcs path {
  fill: none;
  stroke-opacity: .9;
  stroke: #4183C4;
}

#cities circle {
  fill: #234a70;
}
