<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>GitHub Data Challenge - OODA Technologies</title>
    
    <link type="text/css" rel="stylesheet" href="http://mbostock.github.com/d3/talk/20111018/colorbrewer/colorbrewer.css"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>

    <script data-main="js/main" src="http://cdnjs.cloudflare.com/ajax/libs/require.js/1.0.7/require.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31876692-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="container">
      <!--Header-->
      <div id="header">
        <div id="header-title">
          <div id="header-title-l1">
            TOP <span style="color:black">github</span> PROJECTS
          </div>
          <div id="header-title-l2">
            and their geographic distribution
          </div>
        </div>
        <TD style="border-left: 1px solid black; padding: 1px;">
          <div id="header-projDescription">
            This dynamic graph shows the locations of GitHub project owners and
            participants on a world map.  Project participants are users that
            forked the original project. Locations are determined from the
            users' profiles and are only as accurate as the user allowed.
          </div>
        </div>
        <div id="projSelect">
          Select a project
          <select data-bind="
            options: repositories,
            value: selectedRepo,
            optionsCaption: 'Loading repositories...'">
          </select>
        </div>
        <!--Main content-->
        <div>
          <svg></svg>
          <!--Floating content-->
          <div id="floatingContent">
            <span id="cityname">Forks by city</span>
            <span id="forks"></span>
          </div>
        </div>

        <!--Footer-->
        <div id="footer">
          <a href="http://www.ooda.ca">
            <img src="img/OODA_Logo.png" width="115" height="51"/>
          </a>
          <div id="footer-text">
            The code on this page is powered by <a
              href="https://developers.google.com/bigquery/">Google
              BigQuery</a>, <a href="http://d3js.org/">Data-Driven Documents
              (D3)</a>, and <a href="http://www.geonames.org/">GeoNames</a>.
          </div>
        </div>
      </div>
  </body>
</html>
